.grid-container {
  display: grid;
  grid-template-columns: 80px 0.8fr 3fr;
  grid-auto-rows: 1fr;
  height: 100vh;
}

.grid-item {
  border: 1px solid;
}

.grid-item-1, .grid-item-2 {
  background: #1F1F21;
}


.grid-item.grid-item-3{
  grid-template-areas: 'header header' 'sidebar content' 'sidebar content';
  grid-template-rows: 50px 1fr;
  display: grid;
  background: #121416;
}


.grid-item-header{
  grid-area: header;
}
.grid-item-left {
  grid-area: sidebar;
}

.grid-item-right {
  grid-area: content;
}