.grid-container {
  display: grid;
  grid-template-columns: 80px 0.8fr 3fr;
  grid-auto-rows: 1fr;
  height: 100vh;
}

.grid-item {
}

.grid-item-1, .grid-item-2 {
  background: #1F1F21;
}


.grid-item.grid-item-3{
  grid-template-rows: 50px 1fr;
  display: grid;
  background: #121416;
}
.grid-item.grid-item-snippets {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.solutions-container {
  color: #fff;
  padding: 20px;
  background: #1b1e20;
}
.creator-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.grid-item.grid-item-collection-list div {
  padding: 6px 10px;
}
.grid-item-2{
  display: grid;
  color: #adb5bd;
  grid-template-rows: 50px 2fr;
}

.channel-item.active {
  background: #1b1e20;
}