.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 3fr;
  grid-auto-rows: 1fr;
  height: 100vh;
}

.grid-item {
}

.grid-item-1, .grid-item-2 {
  background: #fafafa;
}
.grid-item.grid-item-header{
  padding: 10px;
}
.grid-item.grid-item-1 {
  padding-left: 10px;
  background: #f7f7f7;
}
.grid-item.grid-item-3{
  grid-template-rows: 50px 1fr;
  display: grid;
  background: #fafafa;
}
.grid-item.grid-item-snippets {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.solutions-container {
  padding: 20px;
  background: #fafafa;
}

.creator-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.grid-item.grid-item-collection-list div {
  padding: 6px 10px;
}
.grid-item-2{
  display: grid;
  color: #adb5bd;
  grid-template-rows: 50px 2fr;
}

.channel-item.active {
  background: #eceff2;
}
.grid-item.grid-item-collection-header {
  display: flex;
  align-items: center;
}
